@{
    ViewBag.Title = "Home Page";
}

<main class="container h-100">
    <section class="d-flex h-100 gap-5 align-items-center">
        <picture class="w-50">
            <source media="(min-width: 650px)" srcset="~/Content/Images/Money_Banknote.jpg" />
            <img class="w-100" src="Money_Banknote.jpg" alt="Money in a bag" />
        </picture>
        <article class="d-flex h-100 flex-column justify-content-center">
            <h1 style="text-wrap: balance;">
                PennySaver: Your Ultimate Expense Tracker
            </h1>
            <p>
                Discover why PennySaver is hailed as the best expense tracker on the market. Seamlessly manage your finances, track spending, and save smarter with ease. Make every penny count with PennySaver!
            </p>
        </article>
    </section>
</main>